---
import { PostRecent } from './components/PostRecent';

const newPosts: Array<any> = [];
const posts = await Astro.glob('../../pages/post/*.{md,mdx}');

posts.forEach(post => {
	if (!post.frontmatter.new) return;
	newPosts.push(post);
	return;
});
---

<section class='container-new-posts'>
	<h2 class='container-new-posts__title'>News</h2>
	<div class='container-new-post__posts'>
		{
			newPosts.slice(0, 3).map(post => {
				const dataPost = post.frontmatter;
				return (
					<PostRecent
						url={post.url}
						tags={dataPost.tags}
						title={dataPost.title}
						description={dataPost.description}
						imageUser={dataPost.image}
						userName={dataPost.userName}
						updatedPost={dataPost.update}
						client:visible
					/>
				);
			})
		}
	</div>
</section>

<style>
	.container-new-posts {
		margin: 5rem 0;
	}

	.container-new-posts__title {
		display: flex;
		font-family: 'Raleway-bold';
		font-weight: bold;
		font-size: 96px;
		color: var(--primary--color);
		margin: 2rem 0;
	}
	@media (min-width: 1024px) {
		.container-new-post__posts {
			display: flex;
			flex-direction: row;
			gap: 4rem;
			justify-content: center;
			align-items: stretch;
		}
	}
</style>
