---
import '../../styles/post.css';
import BaseHead from '../../components/BaseHead.astro';
import Navbar from '@components/Navbar.astro';
import { TitlePost } from './compoenents/TitlePost';
import Elipse from '../../assets/images/icons/elipse.svg';
import Footer from '@components/Footer.astro';
import News from '../newPosts/index.astro';
import { Snow } from '@components/Snow';

export interface Props {
	content: {
		title: string;
		description: string;
		updatedDate?: string;
		image?: string;
		tags: string[];
		update: string;
	};
}

const {
	content: { title, description, image, tags, update },
} = Astro.props;
const updatedDate = update.split(' ').slice(0, 2).join(' ');
---

<html lang='en'>
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Snow client:visible />
		<Navbar />
		<main class='main-post'>
			<article class='main-post__article'>
				<header class='main-post___article--header'>
					<div class='post-header'>
						<span class='post-header__updated'>
							{updatedDate}
						</span>
						<div class='post-header__container'>
							{
								tags.map(tag => {
									return (
										<div class='post-header__container--tags'>
											<img src={Elipse} alt='elipse-tag' />
											<a href={`/posts/${tag}`} class='tag-elipse'>
												{tag}
											</a>
										</div>
									);
								})
							}
						</div>
					</div>
					<TitlePost client:visible title={title} />
					<!-- <div class='container-image-post'>
						<img src={image} alt='title' class='image-post' />
					</div> -->
				</header>
				<slot />
			</article>
		</main>
		<div class='separator-post'></div>
		<News />
		<Footer />
		<style>
			.main-post {
				position: relative;
				z-index: 3;
			}
			.main-post___article--header {
				margin-bottom: 5rem;
				position: relative;
			}
			.container-image-post {
				position: absolute;
				top: -10%;
				left: 0;
				width: 100%;
				height: 120%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.container-image-post::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
			}

			.image-post {
				width: 100%;
				margin: 0 auto;
				height: 100%;
				object-fit: cover;
				border-radius: 1rem;
			}

			.post-header {
				display: flex;
				flex-direction: row;
				gap: 2rem;
			}

			.post-header__updated {
				color: var(--gray--color);
				font-weight: bold;
				font-size: 1.5rem;
			}

			.post-header__container {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 0.5rem;
			}
			.post-header__container--tags {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 0.5rem;
			}

			.post-header__container--tags > a.tag-elipse {
				font-size: 1rem;
				color: var(--white--color);
				font-weight: bold;
				text-decoration: none;
			}

			.separator-post {
				width: 100%;
				height: 1px;
				background-color: var(--gray--color);
				margin: 3rem 0;
			}

			@media (max-width: 768px) {
				.post-header {
					flex-direction: column;
					text-align: center;
				}
			}
		</style>
	</body>
</html>
